<div class="profile-container">
    <h3 class="profile-name">name<%= @user.name %></h3>
    <%= image_tag @user.get_profile_image(100,100) %>
    <% if @user.id == corrent_user.id %>
    <p><%= link_to "<% %>", edit_user_path(@user) %></p>
    <% end %>
</div>
<%= render 'books/book', books: @books %>